{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1>Bienvenue à la Bank API</h1>
</div>
{% endblock %}
